:root {
    --height-header: 60px;
    --color-01: #f3f3f3;
    --color-02: #ffffff;
    --color-03: #3c1c79;
    --color-04: #383838;
    --color-05: #8a4195;
    --color-06: #250073;
    --color-07: #270f69;
    --color-08: #bb64d0;
    --color-09: #bbbbbb;
    --color-10: #d20000;
    --color-11: #eadada;
    --color-12: #eaeeef;
    --color-13: #7a7a7a;
    --color-14: #363636;
    --color-15: #d0d6d7;
    --color-16: #ee86ff;
    --color-17: #e0e0e0;
    --color-18: #9e9e9e;
    --color-19: #311571;
    --color-20: #391a77;
    --color-21: #e1e7e8;
    --color-22: #d577ec;
    --color-23: #d9d9d9;
    --color-24: #442b8b;
    --color-25: #cdc6dd;
    --color-26: #9280b4;
    --color-27: #a7a8a9;
    --color-28: #452c8b;
    --color-29: #e886ff;
    --color-30: #FBFCFC;
    --color-31: #a294bf;
    --color-hover: #f6b9ff;
    --color-button: #ffffff;
    --gradient-01: linear-gradient(157deg, #270f69 26.81%, #ee86ff 78.49%);
    --gradient-02: linear-gradient(163deg, #ee86ff -51.25%, #270f69 76.98%);
    --gradient-03: linear-gradient(180deg, #f1b4ff 0%, #cf00ff 100%);
    --gradient-04: linear-gradient(
    180deg,
    rgba(238, 134, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
    --gradient-05: linear-gradient(
    180deg,
    rgba(68, 43, 139, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

@media (min-width: 992px) {
    :root {
        --height-header: 80px;
    }
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

@font-face {
    font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  src: local("Circe"), local("Circe"), url("../fonts/circe/circe-regular.woff2") format("woff2"), url("../fonts/circe/circe-regular.woff") format("woff"), url("../fonts/circe/circe-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  src: local("Circe"), local("Circe"), url("../fonts/circe/circe-bold.woff2") format("woff2"), url("../fonts/circe/circe-bold.woff") format("woff"), url("../fonts/circe/circe-bold.ttf") format("truetype");
}

@font-face {
    font-family: "Circe";
  font-style: normal;
  font-weight: 800;
  src: local("Circe"), local("Circe"), url("../fonts/circe/circe-extrabold.woff2") format("woff2"), url("../fonts/circe/circe-extrabold.woff") format("woff"), url("../fonts/circe/circe-extrabold.ttf") format("truetype");
}

@font-face {
    font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: local("Manrope"), local("Manrope"), url("../fonts/manrope/Manrope-Regular.woff2") format("woff2"), url("../fonts/manrope/Manrope-Regular.woff") format("woff"), url("../fonts/manrope/Manrope-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: local("Manrope"), local("Manrope"), url("../fonts/manrope/Manrope-Medium.woff2") format("woff2"), url("../fonts/manrope/Manrope-Medium.woff") format("woff"), url("../fonts/manrope/Manrope-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src: local("Manrope"), local("Manrope"), url("../fonts/manrope/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/manrope/Manrope-SemiBold.woff") format("woff"), url("../fonts/manrope/Manrope-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: local("Manrope"), local("Manrope"), url("../fonts/manrope/Manrope-Bold.woff2") format("woff2"), url("../fonts/manrope/Manrope-Bold.woff") format("woff"), url("../fonts/manrope/Manrope-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: local("Manrope"), local("Manrope"), url("../fonts/manrope/Manrope-ExtraBold.woff2") format("woff2"), url("../fonts/manrope/Manrope-ExtraBold.woff") format("woff"), url("../fonts/manrope/Manrope-ExtraBold.ttf") format("truetype");
}

body {
    font-family: "Circe";
    font-size: 1.125rem;
    line-height: 1.25;
    font-weight: 400;
    color: var(--color-02);
    background-color: #ffffff;
}

body.no-scroll {
    overflow: hidden;
}

.button {
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Manrope";
    font-size: 1.125rem;
    font-weight: 800;
    text-align: center;
    line-height: normal;
    letter-spacing: 0.81px;
    color: var(--color-button);
    border-radius: 82px;
    transition: background 0.2s linear, box-shadow 0.2s linear;
    border: none;
    outline: none;
}

.button_primary {
    background: var(--gradient-01);
    background-size: 110%;
}

@media (any-hover: hover) {
    .button_primary:hover {
        background-position: right;
    }
}

.button_light {
    background: var(--gradient-03);
}

@media (any-hover: hover) {
    .button_light:hover {
        box-shadow: 4px 4px 28px 10px rgba(238, 134, 255, 0.24);
    }
}

.button_sm {
    min-height: 60px;
    font-size: 0.938rem;
    border-radius: 50px;
}

.input-main {
    --input-height: 50px;
    --input-pl: 15px;
    --input-pr: var(--input-pl);
    --input-label-mb: 5px;
    --input-radius: 15px;
    --input-fs: 18px;
    --input-label-fs: 18px;
    --input-icon-size: 20px;
    --input-icon-right: var(--input-pl);
    --input-color: var(--color-14);
    --input-placeholder-color: var(--color-13);
    --input-bg: var(--color-12);
    --input-bg-active: var(--color-15);
    --input-border-color-error: var(--color-10);
}

.input_icon {
    --input-pr: calc(var(--input-pl) * 2 + var(--input-icon-size));
}

.input.error .input__area {
    border-color: var(--input-border-color-error);
}

.input.error .input__icon_error {
    opacity: 1;
    visibility: visible;
}

.input__label {
    margin: 0 0 var(--input-label-mb) 0;
    display: block;
    font-size: var(--input-label-fs);
    font-weight: 400;
    color: var(--color-13);
}

.input__group {
    display: block;
    position: relative;
}

@media (any-hover: hover) {
    .input__group:hover .input__area {
        background: var(--input-bg-active);
    }
}

.input__area {
    width: 100%;
    min-height: var(--input-height);
    padding: 0 var(--input-pr) 0 var(--input-pl);
    display: block;
    font-size: var(--input-fs);
    font-weight: 700;
    color: var(--input-color);
    border-radius: var(--input-radius);
    background: var(--input-bg);
    border: 1px solid transparent;
    transition: background 0.15s linear, border 0.15s linear;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
}

.input__area::-moz-placeholder {
    color: var(--input-placeholder-color);
    opacity: 0.6;
}

.input__area::placeholder {
    color: var(--input-placeholder-color);
    opacity: 0.6;
}

.input__area:focus {
    background: var(--input-bg-active);
}

.input__icon {
    width: var(--input-icon-size);
    height: var(--input-icon-size);
    position: absolute;
    top: 50%;
    right: var(--input-icon-right);
    transform: translate3d(0, -50%, 0);
}

.input__icon svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: transparent;
    stroke: var(--color-03);
    stroke-width: 2px;
}

.input__icon_error {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s linear, visibility 0.15s linear;
}

.input__icon_error svg {
    fill: var(--input-border-color-error);
    stroke: none;
    stroke-width: 0;
}

.checkbox__wrapper {
    display: flex;
}

.checkbox__label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (any-hover: hover) {
    .checkbox__label:hover .checkbox__icon {
        background: var(--color-05);
    }
}

.checkbox__input {
    width: 0;
    height: 0;
    font-size: 0;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 100%;
    left: 100%;
    z-index: -999;
}

.checkbox__input:checked + .checkbox__icon {
    background: var(--color-05);
}

.checkbox__input:checked + .checkbox__icon svg {
    stroke: var(--color-02);
}

.checkbox__icon {
    flex: 0 0 15px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background: var(--color-12);
    transition: background 0.15s linear;
}

.checkbox__icon svg {
    flex: 0 0 12px;
    width: 12px;
    height: 12px;
    display: block;
    fill: transparent;
    stroke: transparent;
    stroke-width: 2;
    transition: stroke 0.15s linear;
}

.checkbox__text {
    padding: 0 0 0 7px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-04);
    opacity: 0.6;
}

.checkbox__text span,
.checkbox__text a {
    color: var(--color-07);
}

@media (any-hover: hover) {
    .checkbox__text span:hover,
  .checkbox__text a:hover {
        text-decoration: underline;
    }
}

.select__header {
    min-height: var(--input-height);
    padding: 0 var(--input-pl) 0 var(--input-pr);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: var(--input-radius);
    background: var(--input-bg);
    transition: background 0.2s linear, border-radius 0.2s linear;
}

.select__header.active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: var(--input-bg-active);
}

.select__header.active .select__icon {
    transform: rotate(180deg);
}

@media (any-hover: hover) {
    .select__header:hover {
        background: var(--input-bg-active);
    }
}

.select__input {
    width: 0;
    height: 0;
    font-size: 0;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: -100%;
    left: -100%;
    z-index: -999;
}

.select__text {
    padding: 0 var(--input-pr) 0 0;
    font-size: var(--input-fs);
    font-weight: 700;
    color: var(--input-placeholder-color);
    opacity: 0.6;
    transition: color 0.2s linear, opacity 0.2s linear;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
}

.select__text.selected {
    color: var(--input-color);
    opacity: 1;
}

.select__icon {
    flex: 0 0 var(--input-icon-size);
    width: var(--input-icon-size);
    height: var(--input-icon-size);
    display: block;
    fill: transparent;
    stroke: var(--color-24);
    stroke-width: 2px;
    transition: transform 0.2s linear;
}

.select__options {
    width: 100%;
    padding: var(--input-pl);
    background: var(--input-bg);
    border-radius: var(--input-radius);
    transform: translate3d(0, 5px, 0);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.select__options.active {
    padding: 0 var(--input-pl) var(--input-pl);
    transform: translate3d(0, -1px, 0);
    background: var(--input-bg-active);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.select__option {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: var(--input-color);
    cursor: pointer;
    transition: color 0.15s linear;
}

.select__option:not(:last-child) {
    margin: 0 0 10px 0;
}

@media (any-hover: hover) {
    .select__option:hover {
        color: var(--input-color);
    }
}

@media (min-width: 576px) {
    .select__option {
        font-size: 16px;
        color: var(--input-placeholder-color);
    }

    .select__option.selected {
        color: var(--input-color);
    }
}

.radio__wrapper {
    display: flex;
    align-items: center;
}

.radio__label {
    padding: 0 20px 0 0;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-13);
    opacity: 0.6;
}

.radio__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.radio__item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (any-hover: hover) {
    .radio__item:hover .radio__icon::before {
        opacity: 0.4;
        visibility: visible;
        transform: scale(0.5);
    }
}

.radio__input {
    width: 0;
    height: 0;
    font-size: 0;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 100%;
    left: 100%;
    z-index: -999;
}

.radio__input:checked + .radio__icon::before {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.radio__icon {
    flex: 0 0 16px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--color-12);
}

.radio__icon::before {
    content: "";
    flex: 0 0 10px;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    background: var(--gradient-01);
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: opacity 0.2s linear, visibility 0.2s linear, transform 0.2s linear;
}

.radio__text {
    padding: 0 0 0 7px;
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--color-13);
}

.textarea {
    --textarea-padding-inline: 15px;
    --textarea-height: 120px;
}

.textarea__label {
    margin: 0 0 var(--input-label-mb) 0;
    display: block;
    font-size: var(--input-label-fs);
    font-weight: 400;
    color: var(--color-13);
}

.textarea__area {
    width: 100%;
    min-height: var(--textarea-height);
    padding: var(--textarea-padding-inline) var(--input-pr) var(--textarea-padding-inline) var(--input-pl);
    display: block;
    font-size: var(--input-fs);
    font-weight: 700;
    color: var(--input-color);
    border-radius: var(--input-radius);
    background: var(--input-bg);
    border: 1px solid transparent;
    transition: background 0.15s linear, border 0.15s linear;
    resize: none;
}

.textarea__area::-moz-placeholder {
    color: var(--input-placeholder-color);
    opacity: 0.6;
}

.textarea__area::placeholder {
    color: var(--input-placeholder-color);
    opacity: 0.6;
}

.textarea__area:focus {
    background: var(--input-bg-active);
}

@media (any-hover: hover) {
    .textarea__area:hover {
        background: var(--input-bg-active);
    }
}

.textarea__icon {
    flex: 0 0 var(--input-icon-size);
    width: var(--input-icon-size);
    height: var(--input-icon-size);
    position: absolute;
    top: calc(50% - var(--input-icon-size) / 2);
    right: var(--input-icon-right);
}

.textarea__icon svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: transparent;
    stroke: var(--color-03);
    stroke-width: 2px;
}

.textarea__icon_error {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s linear, visibility 0.15s linear;
}

.textarea__icon_error svg {
    fill: var(--input-border-color-error);
    stroke: none;
    stroke-width: 0;
}

.wrapper {
    width: 100%;
    max-width: 1920px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--color-01);
    position: relative;
}

@media (max-width: 768px) {
    .wrapper {
        background-image: url("../images/bg_mobile_inside.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top right;
    }

    .wrapper_index {
        background-image: url("../images/index-main/bg-mobile.svg");
        background-size: contain;
    }
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1030px;
}

.image {
    display: block;
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.content {
    flex: 1 1 auto;
}

.title {
    --title-color: var(--color-06);
    --title-sub-color: var(--color-04);
    max-width: 800px;
    margin: 0 auto 35px auto;
    display: block;
    font-size: clamp(26px, 5vw, 50px);
    font-weight: 900;
    text-align: center;
    line-height: 1.12;
    letter-spacing: 1px;
    color: var(--title-color);
}

.title_light {
    --title-color: var(--color-02);
    --title-sub-color: var(--color-02);
}

.title_xl {
    margin: 0 auto 0.75em auto;
    font-size: clamp(16px, 5vw, 40px);
}

.title__sub {
    padding: 15px 0 0 0;
    display: block;
    font-family: "Manrope";
    font-size: 0.44em;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    color: var(--title-sub-color);
}

.title__sub_bold {
    font-weight: 700;
}

.main-block {
    --main-block-radius: 20px;
    --main-block-pt: 20px;
    --main-block-pb: 35px;
    --main-block-padding-inline: 12px;
    --main-block-actions-mt: calc(
    var(--main-block-pb) - var(--main-block-pb) * 2
  );
}

@media (min-width: 576px) {
    .main-block {
        --main-block-padding-inline: 20px;
    }
}

.main-block__wrapper {
    padding: var(--main-block-pt) var(--main-block-padding-inline) var(--main-block-pb);
    border-radius: var(--main-block-radius);
    background: var(--color-02);
}

.main-block__gropu:not(:last-child) {
    margin: 0 0 25px 0;
}

@media (min-width: 576px) {
    .main-block__gropu:not(:last-child) {
        margin: 0 0 30px 0;
    }
}

.main-block__header {
    margin: 0 0 20px 0;
}

.main-block__title {
    display: block;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    color: var(--color-04);
}

@media (min-width: 576px) {
    .main-block__title {
        font-size: 18px;
    }
}

.main-block__subtitle {
    padding: 5px 0 0 0;
    display: block;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    color: var(--color-04);
    opacity: 0.7;
}

.main-block__subtitle span {
    font-weight: 700;
}

@media (min-width: 576px) {
    .main-block__subtitle {
        padding: 10px 0 0 0;
        font-size: 16px;
    }
}

.main-block__body {
    color: var(--color-04);
}

.main-block__actions {
    padding: 0 12px;
    margin: var(--main-block-actions-mt) 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-block__button {
    width: 100%;
    max-width: 365px;
}

.main-block__action {
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-03);
    cursor: pointer;
}

.main-block__icon-arrow {
    flex: 0 0 20px;
    width: 20px;
    height: 15px;
    margin: 0 5px 0 0;
    display: block;
    fill: currentColor;
}

.main-block__icon-card {
    flex: 0 0 22px;
    width: 22px;
    height: 18px;
    margin: 0 10px 0 0;
    display: block;
    fill: transparent;
    stroke: currentColor;
    stroke-width: 2px;
}

.header {
    --header-size-icon: 25px;
    height: var(--height-header);
}

.header.active .header__wrapper {
    width: 100%;
    height: var(--height-header);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.header_fixed .header__wrapper {
    width: 100%;
    height: var(--height-header);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.26);
    -webkit-backdrop-filter: blur(29px);
    backdrop-filter: blur(29px);
}

@media (min-width: 768px) {
    .header {
        --header-size-icon: 30px;
    }
}

.header__wrapper {
    height: 100%;
}

.header__container {
    width: 100%;
    max-width: 1190px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__toggle-menu,
.header__logo,
.header__menu,
.header__sign {
    position: relative;
    z-index: 1000;
}

.header__toggle-menu {
    flex: 0 0 var(--header-size-icon);
    width: var(--header-size-icon);
    height: var(--header-size-icon);
    display: block;
    border-radius: 50%;
    border: 2px solid var(--color-02);
    background: none;
    outline: none;
    position: relative;
    transition: border 0.15s linear;
}

.header__toggle-menu::before, .header__toggle-menu::after {
    content: "";
    width: 15px;
    height: 2px;
    display: block;
    border-radius: 2px;
    background-color: var(--color-02);
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: background 0.15s linear, transform 0.15s linear;
}

.header__toggle-menu::before {
    top: calc(50% - 2px);
}

.header__toggle-menu::after {
    top: calc(50% + 2px);
}

.header__toggle-menu.active::before, .header__toggle-menu.active::after {
    top: 50%;
}

.header__toggle-menu.active::before {
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}

.header__toggle-menu.active::after {
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
}

@media (any-hover: hover) {
    .header__toggle-menu:hover {
        border-color: var(--color-hover);
    }

    .header__toggle-menu:hover::before, .header__toggle-menu:hover::after {
        background-color: var(--color-hover);
    }
}

.header__logo {
    flex: 0 0 60px;
    width: 60px;
    display: block;
}

.header__logo img {
    width: 100%;
    height: auto;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (min-width: 768px) {
    .header__logo {
        flex: 0 0 92px;
        width: 92px;
    }
}

.header__menu {
    flex: 0 1 600px;
    margin: 0 30px 0 0;
}

.header__sign {
    flex: 0 0 var(--header-size-icon);
    width: var(--header-size-icon);
    height: var(--header-size-icon);
    display: block;
    cursor: pointer;
}

.header__sign svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: var(--color-02);
    transition: fill 0.15s linear;
}

@media (any-hover: hover) {
    .header__sign:hover svg {
        fill: var(--color-hover);
    }
}

.header__overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, top, transform;
    transition-duration: 0.2s;
}

.header__overlay.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.header-menu {
    --header-menu-font-size: 1rem;
    width: 100%;
    padding: 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transform: translate3d(0, -105%, 0);
    opacity: 0;
    visibility: hidden;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background: var(--gradient-02);
    transition: transform 0.2s linear, opacity 0.2s linear, visibility 0.2s linear;
    transition-delay: 0.1s;
}

.header-menu.active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}

.header-menu.active .header-menu__wrapper {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.header-menu__wrapper {
    padding: calc(var(--height-header) + 15px) 0 40px 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, top, transform;
    transition-duration: 0.2s;
    transition-delay: 0.3s;
}

.header-menu__items {
    max-height: 250px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.header-menu__item {
    flex: 0 0 auto;
}

.header-menu__link,
.header-menu__unsubscribe {
    display: block;
    font-size: var(--header-menu-font-size);
    font-weight: 700;
    text-align: center;
}

.header-menu__link {
    padding: 5px 0;
    cursor: pointer;
    color: var(--color-02);
}

@media (any-hover: hover) {
    .header-menu__link:hover {
        border-color: currentColor;
    }
}

.header-menu__unsubscribe {
    padding: 5px 0;
    margin: 25px 0 0 0;
    color: var(--color-16);
}

.footer {
    padding: 45px 0 50px 0;
    background: var(--color-03);
    position: relative;
    z-index: 1;
}

@media (min-width: 576px) {
    .footer {
        padding: 45px 0 65px 0;
    }
}

.footer__title {
    margin: 0 0 15px 0;
    display: block;
    font-family: "Manrope";
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.36;
    color: var(--color-02);
}

@media (min-width: 576px) {
    .footer__title {
        font-size: 1rem;
    }
}

.footer__header {
    margin: 0 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    width: 100%;
    max-width: 120px;
    margin: 0 0 45px 0;
    display: block;
}

.footer__logo img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (min-width: 576px) {
    .footer__logo {
        max-width: 140px;
    }
}

.footer__info {
    margin: 0 0 40px 0;
    display: grid;
    gap: 20px;
    font-family: "Manrope";
    font-size: 0.75rem;
    text-align: justify;
    font-weight: 500;
    line-height: 1.375;
    color: var(--color-26);
}

.footer__info a {
    color: var(--color-02);
    text-decoration: underline;
}

@media (any-hover: hover) {
    .footer__info a:hover {
        text-decoration: none;
    }
}

.footer__partners-list {
    display: grid;
    gap: 20px;
    font-family: "Manrope";
    font-size: 0.75rem;
    text-align: justify;
    font-weight: 500;
    line-height: 1.33;
    color: var(--color-26);
}

.footer__partners-list li {
    display: flex;
}

.footer__partners-list li::before {
    content: "";
    flex: 0 0 0.333em;
    width: 0.333em;
    height: 0.333em;
    margin: 0.5em 0.667em 0 0;
    display: block;
    border-radius: 50%;
    background: currentColor;
}

@media (min-width: 576px) {
    .footer__partners-list {
        grid-template-columns: 1fr 1fr;
    }
}

.footer__contacts {
    margin: 0 0 60px 0;
}

@media (min-width: 400px) {
    .footer__contacts {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 576px) {
    .footer__contacts {
        margin: 0 0 30px 0;
    }
}

.footer__contact {
    display: block;
    font-family: "Manrope";
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.375;
    text-align: center;
    color: var(--color-02);
}

.footer__contact:not(:last-child) {
    margin: 0 0 20px 0;
}

@media (min-width: 400px) {
    .footer__contact {
        text-align: left;
    }

    .footer__contact:not(:last-child) {
        margin: 0 20px 0 0;
    }
}

@media (min-width: 576px) {
    .footer__contact {
        font-size: 1.125rem;
    }
}

.footer__actions {
    width: 100%;
    max-width: 900px;
}

@media (min-width: 576px) {
    .footer__actions {
        margin: 0 0 -15px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.footer__action:not(:last-child) {
    margin: 0 0 25px 0;
}

.footer__action a,
.footer__action span,
.footer__action div,
.footer__action button {
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    color: var(--color-26);
    cursor: pointer;
    transition: color 0.15s linear;
}

@media (any-hover: hover) {
    .footer__action a:hover,
  .footer__action span:hover,
  .footer__action div:hover,
  .footer__action button:hover {
        color: var(--color-02);
    }
}

@media (min-width: 576px) {
    .footer__action {
        flex: 0 1 50%;
        padding: 0 10px 15px 0;
    }

    .footer__action:not(:last-child) {
        margin: 0 0 0 0;
    }
}

.sign-in {
    --sign-in-gap: 10px;
    padding: 20px 0 50px 0;
    position: relative;
    z-index: 1;
}

.sign-in .main-block__subtitle {
    max-width: 540px;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .sign-in {
        padding: 20px 0 60px 0;
    }
}

.sign-in__items,
.sign-in__actions {
    margin: 0 0 20px 0;
}

@media (min-width: 768px) {
    .sign-in__items,
  .sign-in__actions {
        margin: 0 0 25px 0;
    }
}

.sign-in__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: var(--sign-in-gap);
}

.sign-in__actions {
    display: flex;
    justify-content: center;
}

.sign-in__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-28);
}

.sign-in__link span {
    padding: 0 0 0 7px;
}

@media (any-hover: hover) {
    .sign-in__link:hover .sign-in__link-icon svg {
        transform: rotate(360deg);
    }
}

.sign-in__link-icon {
    flex: 0 0 15px;
    width: 15px;
    height: 15px;
    background: currentColor;
    border-radius: 3px;
    overflow: hidden;
}

.sign-in__link-icon svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: var(--color-02);
    transition: transform 0.3s linear;
}